.content-container {
	display:flex;
	flex-wrap: wrap;
  flex-direction: column;
	width: 100%;
}

.summary {
	display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
	img {max-width: 100%;}
}

.skill-container{
	margin: .5em 0;
	display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
	img {
		border-radius: $border-radius;
		border: $thin-border;
		max-width: 64px;
	}
}

.spell-combo {
	margin: .5em 0;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content:center;
  flex-wrap: wrap;
	max-width: 90%;
	img {
		border-radius: $border-radius;
		border: $thin-border;
		max-width: 64px;
		max-height: 64px;
		margin: 0 .2em;
	}
	div {
		display:flex;
	  justify-content:center;
	  align-items:center;
		padding: 0 1em;
	}
}

.skill-column {
	display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	p {
		padding: .3em 0;
		font-size:.7em;
	}
	.spell-description {
		display:flex;
    flex-direction:column;
		margin: .5em 0;
		padding: .5em 2em;
		background: $fade-bg;
		border: 2px solid black;
		border-radius: 10px;
		p{font-size:21px;}
	}
}

.rune-container {
	display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  flex:1;
	ul {
		border: $border;
		border-radius: $border-radius;
		display:flex;
    justify-content: space-around;
		padding: .5em;
    flex-wrap:wrap;
    flex:1;
		li {
			min-width: 200px;
			display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
			padding: .5em 1rem;
			font-size:.9em;
			img {max-width: 46px;}
		}
	}
}

.mastery-container {
  border: $border;
	border-radius: $border-radius;
	display: flex;
  flex-direction: column;
	padding: 1em;
  ul {
  	display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
    li {
			border: $border;
			border-radius: $border-radius;
			display:flex;
      flex-direction:column;
      justify-content: center;
      align-items:center;
			text-align:center;
			background:lightgreen;
			* {padding-bottom: .5em;}
			p {padding: .5em;}
			img {
				padding-bottom:0;
				margin-bottom: .5em;
			}
		}
		.unused {
			background: #aaa;
			color: #444;
		}
	}
	ul:nth-of-type(even){
		li img {
			border-radius: 10px;
			border: 1px solid $dark;
			max-width: 64px;
		}
	}
}

.item-exp {
	display:flex;
  flex-direction: column;
	max-width: 60%;
  flex:1;
	background: $fade-bg;
	border: $border;
	border-radius: $border-radius;
	margin-bottom:1em;
	padding: 1em 3em;
	img {
		margin: 0 auto;
		border: $border;
		border-radius: $border-radius;
	}
	p {font-size:.95em;}
	.explain-list {
		list-style: disc;
		display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-between;
		li {
			padding: .25em 0;
			font-size:.9em;
		}
	}
}

.avoid {
	background: $runes-light-red;
	padding: 1em 0;
	//ul {padding: 0;
	//	li {padding: 0;}
	//}
	.item-list{
    //justify-content:flex-start;
    //align-items:flex-start;
    //flex-direction:column;
		text-align:left;
		padding: 0 2em;
    //flex:1;
		> li {
			margin:0 auto;
		}
		ul {
			display:flex;
      flex:1;
      justify-content:space-between;
      align-items:flex-start;
			list-style: disc;
		}
			li {
				display:flex;
				text-align:left;
        //justify-content:center;
				align-items:center;
				padding: .25em 0;
				font-weight: 400;
			}
		}
	p {
    align-self:center;
		text-align:center;
		font-weight: 400;
		padding: 0;
		max-width: 90%;
			&:last-child {
				padding-bottom: 1em;
			}
		}
}

.champ-row {
	display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
	border: $border;
	border-radius: $border-radius;
	margin: .25em 0;
	padding: .5em;
	background: white;
	width:100%;
	&:nth-of-type(even) {background: #ccc;}
	> * {
		margin: 0 .25em;
	}
	h5 {flex:1;}
	p{
    flex:5;
		font-size: .9em;
	}
	div{
		display:flex;
	  flex-wrap:wrap;
    justify-content:center;
    flex-basis: 200px;
    flex:1;
		img {
			max-width: 35px;
			max-height: 35px;
		  flex-basis: 25px;
		}
	}
	img{
    flex:1;
		max-width: 64px;
		max-height: 64px;
		border-radius: $border-radius;
	}
	&.legend {
		margin-bottom:0;
		background:lighten($yellow, 20%);
	}
}

.cdr-container {
  flex-direction:column;
  flex-wrap:nowrap;
	img {
		border-radius: $border-radius;
		width: 100%;
	}
	div {
		display:flex;
    flex-direction:column;
	}
}

.support-matchup .champ-row p {flex:6;}

.red-runes > ul { background: $runes-red;}
.yellow-runes > ul { background: $runes-yellow;}
.blue-runes >  ul { background: $runes-blue;}
.purple-runes >  ul { background: $runes-purple;}

.special-item {
	background:$dark; color:#ddd;
	span{color:#fff;}
}

@media screen and (min-width: 765px) {
	.mastery-container {
		ul {flex-direction:row;
			li {width: 40%;}
		}
	}
	.champ-row {flex-direction:row;}
	.cdr-container {
    flex-direction:row;
		div {
			max-width: 50%;
			padding: 0 1em;
		}
	}
}

@media screen and (min-width: 1000px) {
	.spell-combo{max-width: 60%;}
	.avoid{max-width: 75%;}
	.summary{max-width: 50%;}
}
