.content-container {
	display:flex;
	flex-wrap: wrap;
  flex-direction: column;
	width: 100%;
}

.summary {
	display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
	img {max-width: 100%;}
}

//	STYLES FOR SPELLS, COMBOS AND TRICKS	//

.skill-container{
	margin: .5em 0;
	display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
	img {
		border-radius: $border-radius;
		border: $thin-border;
		max-width: 64px;
	}
}

.spell-combo {
	margin: .5em 0;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content:center;
  flex-wrap: wrap;
	max-width: 90%;
	img {
		border-radius: $border-radius;
		border: $thin-border;
		max-width: 64px;
		max-height: 64px;
		margin: 0 .2em;
	}
	div {
		display:flex;
	  justify-content:center;
	  align-items:center;
		padding: 0 1em;
	}
}

.skill-column {
	display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	p {
		padding: .3em 0;
		font-size:.7em;
	}
	.spell-description {
		display:flex;
    flex-direction:column;
		margin: .5em 0;
		padding: .5em 2em;
		background: $fade-bg;
		border: 2px solid black;
		border-radius: 10px;
		p{font-size:21px;}
	}
}

//	STYLES FOR RUNES 101	//

.rune-container {
	display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  flex:1;
	ul {
		//border: $border;
		border-radius: $border-radius;
		display:flex;
    justify-content: space-around;
		padding: .5em;
    flex-wrap:wrap;
    flex:1;
		li {
			min-width: 200px;
			display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
			padding: .5em 1rem;
			font-size:.9em;
			img {max-width: 46px;}
		}
	}
}

//	STYLES FOR MASTERY BREAKDOWN	//

.mastery-container {
  border: $border;
	border-radius: $border-radius;
	display: flex;
  flex-direction: column;
	padding: 1em;
  ul {
  	display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
    li {
			border: $border;
			border-radius: $border-radius;
			display:flex;
      flex-direction:column;
      justify-content: center;
      align-items:center;
			text-align:center;
			background: $green-bg;
			* {padding-bottom: .5em;}
			p {padding: .5em;}
			img {
				padding-bottom:0;
				margin-bottom: .5em;
			}
		}
		.unused {
			background: #aaa;
			color: #444;
		}
	}
	ul:nth-of-type(even){
		li img {
			border-radius: 10px;
			border: 1px solid $dark;
			max-width: 64px;
		}
	}
}

//	STYLES FOR ITEM OPTIMIZATION	//

.item-exp {
	display:flex;
  flex-direction: column;
	max-width: 60%;
  flex:1;
	background: $fade-bg;
	border: $border;
	border-radius: $border-radius;
	margin-bottom:1em;
	padding: 1em 3em;
	img {
		margin: 0 auto;
		border: $border;
		border-radius: $border-radius;
	}
	p {font-size:.95em;}
	.explain-list {
		list-style: disc;
		display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-between;
		li {
			padding: .25em 0;
			font-size:.9em;
		}
	}
}

.avoid {
	background: lighten($red, 5%);
	padding: 1em 0;
	border:none;
	.item-list{
		text-align:left;
		padding: 0 2em;
		> li {
			margin:0 auto;
		}
		ul {
			display:flex;
      flex:1;
      justify-content:space-between;
      align-items:flex-start;
			list-style: disc;
		}
			li {
				display:flex;
				text-align:left;
				align-items:center;
				padding: .25em 0;
				font-weight: 400;
			}
		}
	p {
    align-self:center;
		text-align:center;
		font-weight: 400;
		padding: 0;
		max-width: 90%;
			&:last-child {
				padding-bottom: 1em;
			}
		}
}

//	STYLES FOR LANING MATCHUPS	//

.champ-row {
	display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
	border: $border;
	border-radius: $border-radius;
	margin: .25em 0;
	padding: .5em;
	background: $runes-light-blue;
	width:100%;
	&:nth-of-type(even) {background: lighten($runes-light-blue, 10%);}
	> * {
		margin: 0 .25em;
	}
	h5 {flex:1;}
	p{
    flex:5;
		font-size: .9em;
	}
	div{
		display:flex;
	  flex-wrap:wrap;
    justify-content:center;
    flex-basis: 200px;
    flex:1;
		img {
			max-width: 35px;
			max-height: 35px;
		  flex-basis: 25px;
		}
	}
	img{
    flex:1;
		max-width: 64px;
		max-height: 64px;
		border-radius: $border-radius;
	}
	&.legend {
		margin-bottom:0;
		background:lighten($yellow, 20%);
	}
}

.support-matchup .champ-row p {flex:6;}

//	STYLES FOR CDR AND YOU	//

.cdr-container {
  flex-direction:column;
  flex-wrap:nowrap;
	img {
		border-radius: $border-radius;
		width: 100%;
	}
	div {
		display:flex;
    flex-direction:column;
	}
}

//	STYLES FOR Q vs E DEBATE	//

.pros-and-cons .time-bomb, .pros-and-cons .time-warp {
	color:white;
	border:none;
}

.pros-and-cons .time-bomb {background: $time-bomb-blue-bg;}
.pros-and-cons .time-warp {background: $time-warp-blue-bg;}


.debate-winner {
	display:flex;
	flex-direction:column;
	border: $border;
	border-radius: $border-radius;
	max-width: 70%;
	justify-content:center;
	padding: 1em;
	margin-top: 1em;
	background:  $fade-bg;

}
//	STYLES FOR MOVEMENTSPEED ARTICLE	//

ul.faq {
	border-radius: $border-radius;
	border: $border;
	padding:0;
	overflow:hidden;
	li {
		padding: .5em 1em;
		&:nth-of-type(odd) {
			background:$time-warp-blue-bg;
			color:white;
			padding: 1em 3em;
			font-weight: 700;
		}
		&:nth-of-type(even) {
			background:$fade-light-bg;
			padding-bottom: 3em;
		}
	}
}

.ms-list {
	border: $border;
	border-radius:$border-radius;
	overflow:hidden;
	li {
		display:flex;
		flex-direction: row;
		justify-content:space-between;
		font-size: .85em;
		padding: .25em .5em;
		color:white;
		font-weight: 700;
		background:$time-warp-blue-bg;
		&:nth-of-type(even) {background: $time-warp-blue;
		}
		&.thead {
			background: white;
			color:black;
			span {padding-left: 0;padding-right:0;}
		}
	}
	span {
		color:lighten($runes-red, 15%);
		margin-left: auto;
		padding-left: .5em;
		padding-right: 1.5em;
	}
}

.range-block {
	width: 100%;
	display:flex;
	flex-direction:column;
}

.slider-block {
	width: 100%;
	display:flex;
	flex-direction:column;
	div {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content: space-around;
		text-align:center;
		p {
			border:$border;
			border-radius:$border-radius;
			margin: .5em 0;
			padding: 1em;
			font-weight: 700;
			//background:$light;
			//&:nth-of-type(even){background: $fade-light-bg;}
		}
		&.speedup p{
			color: white;
			background: lighten($time-warp-blue, 35%);
			&:nth-of-type(2){background:lighten($time-warp-blue, 27%);}
			&:nth-of-type(3){background:lighten($time-warp-blue, 20%);}
			&:nth-of-type(4){background:lighten($time-warp-blue, 10%);}
			&:nth-of-type(5){background: $time-warp-blue;}
		}
		&.slowdown p{
			color: black;
			background: $yellow;
			&:nth-of-type(2){background: darken($yellow, 10%);}
			&:nth-of-type(3){background: darken($yellow, 20%); color: #111}
			&:nth-of-type(4){background: darken($yellow, 27%); color: #ccc;}
			&:nth-of-type(5){background: darken($yellow, 35%); color: #eee;}
		}
		&.swifties p{
			color: black;
			background: #bbb;
			&:nth-of-type(2){background: #999;}
			&:nth-of-type(3){background: #666; color:#eee;}
			&:nth-of-type(4){background: #444; color:white;}
			&:nth-of-type(5){background: #222; color:white;}
		}
	}
}

//	STYLES FOR PATCH EVOLUTION	//

.patch-container {
	li {
		display:flex;
		flex-direction:column;
		div {margin:0 auto;}
		img {
			width: 64px;
			height: 64px;
			margin:0 auto;
			border: $thin-border;
			border-radius: $border-radius;
		}
	}
}

.nerf{color:$runes-red;}
.buff{color:darken($green-bg, 45%);}
.neutral{color:$yellow;}


//	STYLES FOR GAMEPLAY VIDEO	//

.video-block {
	background: white;
	border-radius: $border-radius;
	border: $border;
	max-width: 95%;
	margin: 1em 0;
	& > * {margin: .5em 1em;}
	h3 {}
	div {display:flex; justify-content: center;}
	p {font-size: .9em;}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.special-item {
	background:$dark; color:#ddd;
	span{color:#fff;}
}

@media screen and (min-width: 765px) {
	.mastery-container {
		ul {flex-direction:row;
			li {width: 40%;}
		}
	}
	.champ-row {flex-direction:row;}
	.cdr-container {
    flex-direction:row;
		div {
			max-width: 50%;
			padding: 0 1em;
		}
	}
}

@media screen and (min-width: 1000px) {
	.spell-combo{max-width: 60%;}
	.video-block{min-width: 75%;}
	.summary{max-width: 50%;}
	.lg-cont{max-width: 75%;}
	ul.bump-right{margin-left: 2em;}
}
