.introduction {
	align-items:center;
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content:flex-start;
	h3 {margin-top: .5em;}
	ul {
		display:flex;
		flex-direction: column;
		flex-wrap: wrap;
		list-style-type: disc;
		margin-left: 2em;
		padding: .5em 0;
		li {padding:.25em 0;}
	}
	a {	margin: 0 auto;}
	img {
		border: $thin-border;
		border-radius: $border-radius;
		max-width: 1000px;
		width:100%;
		@include box-shadow;
	}
}

.summary {
	align-items:center;
	display:flex;
	flex-direction: column;
  justify-content:center;
	img {max-width: 100%;}
}


@media screen and (min-width: 765px) {
	button{@include box-shadow;}
}

@media screen and (min-width: 1000px) {
	.introduction p {max-width: 70%;}
	.lg-cont{max-width: 75%;}
	.summary{max-width: 75%;}
	ul.bump-right{margin-left: 2em;}
}
