//			MAIN HOME PAGE STYLING		//

span { font-weight: 700;}

main {
	background: $dark;
	min-height: 90vh;
	h1 {
		font-size: 1.8em;
		font-weight: 700;
		padding: .5em 0 0 0;
	}
}

.content-wrapper {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height: 100%;
	padding-bottom: .5em;
	background:$light-blue-bg;
	&:nth-of-type(even){background:$light-bg;}
	h3, h5 {
		display:flex;
		align-items:center;
		img {
			border: $thin-border;
			border-radius: $border-radius;
			margin: 0 .5em;
			@include box-shadow;
		}
	}
}

.content-container{
	display:flex;
	align-items:center;
	max-width:95%;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
}

.patch-version {
	display:flex;
	justify-content: center;
	background: $dark;
	font-size: .85em;
	color: $light;
	span {
		padding-left: 1em;
		a {
			color: lightgreen;
			text-decoration:none;
			transition: all .5s;
			&:hover {color: darken(lightgreen, 20%)}
		}
	}
}

.pros-and-cons {
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	div{
		display:flex;
		border-radius: $border-radius;
		border: $border;
		flex-direction: column;
		margin-top:.5em;
		padding: .4em;
		ul {
			margin-left: 2em;
			display:flex;
			flex-direction:column;
			justify-content: flex-start;
			list-style-type: disc;
			li { padding-right: 1em;}
		}
	}
	img {
		max-width: 64px;
		max-height:64px;
		margin: 0 auto;
		border:$thin-border;
		border-radius: $border-radius;
	}
	.pros {background: $green-bg;}
	.cons {background: $red;}
}

.quick-guide {
	padding-bottom: .5em;
	width: 100%;
	ul {
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items:center;
		li {
			width: 100%;
			background: $dark;
			a {
				display:flex;
				padding: .25em 0;
				flex: 1;
				justify-content: center;
				text-decoration: none;
				color: $light;
				transition: all .5s;
				&:hover {
					background: darken($yellow, 15%);
					color: $time-warp-blue;
				}
			}
			.active-item {
				background: $yellow;
				font-weight: 700;
				color: $time-warp-blue;
			}
		}
	}
}

.explanation {
	display: none;
	background: $fade-bg;
	border: $border;
	border-radius: $border-radius;
	flex-direction: column;
	margin: 0 auto;
	max-width: 90%;
	padding: .5em 1em;
	margin-bottom: .5em;
	p {padding: .5em 0;}
}

// SKILL ORDER FOR HOME PAGE //

.skill-order {
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: .5em 0;
	max-width: 90%;
	margin: 0 auto;
	font-weight: 700;
	li {
		display:flex;
		align-items:center;
		flex-direction: column;
		padding: .2em;
		img {
			width:64px;
			margin: .5em;
			border-radius: $border-radius;
			border: $thin-border;
			@include box-shadow;
		}
	}
}

.skill-hide {
	display:none;
	@include border;
	background: $fade-bg;
}

button {
	font-weight: 700;
	color: $light;
	background: $dark;
	border-radius: $border-radius;
	padding: .25em 1em;
	margin: .25em auto;
	margin-bottom: 1em;
	border-left-color: $light;
	border-top-color:$light;
	border-right-color: $light-blue;
	border-bottom-color: $light-blue;
	transition: all .5s;
	&:hover {
		background:$yellow;
		color: $dark;
	}
}

@media screen and (min-width: 765px) {
	main {
		background: url("/img/bg/zil.jpg");
		min-height: 100vh;
		background-attachment: fixed;
		background-size: cover;
	}

	.quick-guide ul {flex-direction:row;}
	.pros-and-cons {
		flex-wrap:nowrap;
		div{
			min-width: 40%;
			max-width: 45%;
			@include box-shadow;
		}
	}

	.max-order {
		max-width: 60%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1000px) {
	.explanation {
		max-width: 80%;
		padding: .7em 1em;
	}
	.content-container{max-width:80%;}
}

@media screen and (min-width: 1600px) {
	.content-container {max-width: 70%;}
}
