//			NAVIGATION & HEADER STYLING		//


header {
	@include dark-gradient;
	@include flex-col;
	border-bottom: $thin-border;
	text-align: center;
	width: 100%;
}

.main-nav ul {
	@include flex-col;
	flex-wrap: wrap;
	justify-content: space-around;
	li {
		flex: 1 0 auto;
		min-width:20%;
		position: relative;
		a {
			display:flex;
			align-items: center;
			justify-content:space-between;
			color: $white;
			font-size: 1.2em;
			font-weight: 700;
			text-decoration: none;
			img {
				border-radius: 5px;
				height: 36px;
				margin-right: 1em;
				order:1;
				width: 36px;
			}
		}
		ul {
			display:none;
		}
		&:hover > ul, &:active > ul, &:focus > ul {
			display:flex;
			z-index: 1000;
		}
	}
	.brand {
		div {order:0;}
		span {padding:0 .4em;}
		img {
			margin-left: .2em;
		}
	}
	&.isOpen {display:none;}
}

.main-nav .sub-menu {
	flex-direction: column;
	position: absolute;
	width: 100%;
	@include dark-gradient;
	li {
		a {
			border-left: $thin-border;
			border-right: $thin-border;
			display:flex;
			flex: 1 0 auto;
			justify-content: center;
			font-size: 1.05em;
			padding: .6rem 1rem;
		}
		&:last-child {border-bottom: $thin-border;}
	}
}

.main-nav ul .toggle-on {display: flex;}

.mobile-nav {
	align-items:center;
	border-bottom: 1px solid white;
	@include dark-gradient;
	display:flex;
	justify-content: flex-end;
	padding: .5em 1em;
	.mobile-brand {
		color: $white;
		margin-right:auto;
		font-size: 1.3em;
		text-decoration: none;
		font-weight: 700;
		word-spacing: .5em;
	}
	a.hamburger:after {
		color:$white;
		content: "\f0c9";
		font: 2.5em fontawesome;
		padding-right:.48em;
	}
}


@media screen and (max-width: 600px){
	.main-nav ul ul li a {
		padding-left: 2em;
	}
	.dropdown-toggle {display: none;}
}

.menu li a {
	color: white;
	display: block;
	padding: .33rem 1rem;
	text-decoration: none;
	@include transition;
}

.menu li a:hover,.menu li a:active {
	background: $blue;
}

@media screen and (min-width: 600px) {
	.main-nav ul {
		flex-direction: row;
		li a {
			justify-content: center;
				img {order:0;}
		}
		&.isOpen {display:flex;}
	}
	.mobile-nav {display:none;}
}


@media screen and (min-width: 1000px) {
	.main-nav ul {
		flex-direction: row;
		.brand a {
			color: $white;
		}
	}
}

@media screen and (max-width: 1350px) {
	nav {font-size: .8em;}
	.main-nav ul li a {font-size:1em;
		img {margin-right: .5em;}
	}
}
