//			NAVIGATION & HEADER STYLING		//


header {
	background: $dark;
	border-bottom: $thin-border;
	display:flex;
	flex-direction:column;
	text-align: center;
	width: 100%;
}

.main-nav ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	li {
		background: $runes-blue;
		flex: 1 0 auto;
		min-width:20%;
		position: relative;
		a {
			align-items: center;
			color: white;
			display:flex;
			font-size: 1.2em;
			font-weight: 700;
			justify-content:space-between;
			text-decoration: none;
			img {
				border-radius: 5px;
				height: 36px;
				margin-right: 1em;
				order:1;
				width: 36px;
			}
		}
		ul {
			display:none;
		}
		&:hover > ul, &:active > ul, &:focus > ul {
			display:flex;
			z-index: 1000;
		}
	}
	.brand {
		h1 {order:0;}
		span {padding-left:.3em;}
	}
	&.isOpen {display:none;}
}

.main-nav .sub-menu {
	flex-direction: column;
	position: absolute;
	width: 100%;
	li {
		a {
			border-left: $thin-border;
			border-right: $thin-border;
			display:flex;
			flex: 1 0 auto;
			font-size: 1.03em;
			justify-content: center;
			padding: .6rem 1rem;
		}
		&:last-child {border-bottom: $thin-border;}
	}
}

.main-nav ul .toggle-on {display: flex;}

.mobile-nav {
	align-items:center;
	border-bottom: $thin-border;
	background: $time-warp-blue-bg;
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	padding: .5em 1em;
	a:after {
		color:white;
		content: "\f0c9";
		font: 2.5em fontawesome;
		padding-right:.48em;
	}
}

@media screen and (max-width: 600px){
	.main-nav ul ul li a {
		padding-left: 2em;
	}
	.dropdown-toggle {display: none;}
}

.menu li a {
	color: white;
	display: block;
	padding: .33rem 1rem;
	text-decoration: none;
	@include transition;
}

.menu li a:hover,.menu li a:active {
	background:$time-warp-blue;
}

@media screen and (min-width: 600px) {
	.main-nav ul {
		flex-direction: row;
		li a {
			justify-content: center;
				img {order:0;}
		}
		&.isOpen {display:flex;}
	}
	.mobile-nav {display:none;}
}


@media screen and (min-width: 1000px) {
	.main-nav ul {flex-direction: row;
	.brand a {
		color: $runes-blue;
		transition: background .5s ease-in 0s;
		&:hover {
			color:white;
			transition: background .5s ease-out 2s;
				h1 {transition: color 1s;
					span {transition: all 1s ease-in;}
				}
			}
		}
	}
}

@media screen and (max-width: 1350px) {
	nav {font-size: .8em;}
	.main-nav ul li a {font-size:1em;
		img {margin-right: .5em;}
	}
}
