//			SASS MAIN COLOR SHORTHANDS		//



.red {background: #FF4747;}
.light-red {background: lighten( #FF4747, 20%);}

.yellow {background: #FFF24F;}
.light-yellow {background: lighten(#FFF24F, 20%);}

.blue {background: #00A8E8;}
.light-blue {background: lighten(#00A8E8, 20%);}

.purple {background: #E24FE2;}
.light-purple {background: lighten(#E24FE2, 20%);}

.green {background: #5CBA55;}

$runes-red: #FF4747;
$runes-light-red: lighten( #FF4747, 20%);
$runes-yellow: #FFF24F;
$runes-light-yellow: lighten(#FFF24F, 20%);
$runes-blue: #00A8E8;
$runes-light-blue: lighten(#00A8E8, 20%);
$runes-purple: #E24FE2;
$runes-light-purple: lighten(#E24FE2, 20%);

$blue1: #549aa8;
$yellow1: #fee520;
$darkblue1: #2010a9;

$nav-blue: #639fab;
$light: #bbcde5;
$dark: #222;
$yellow: #edc236;
$light-blue: darken( #bbcde5, 10%);
$dark-blue: #1c5d99;

$light-blue-bg: rgba(140, 232, 255, .95);
$light-bg: rgba(191, 238, 255, .95);
$fade-bg:  rgba(255, 255, 255, .5);

.cunning {background:url('/img/masteries/cunning-bg.png');}
.ferocity {background:url('/img/masteries/ferocity-bg.png');}
.resolve {background:url('/img/masteries/resolve-bg.png');}



.cunning, .ferocity, .resolve {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  > h4, h6 {
     color: #eee;
 }
}
