* {
	font-size: 16px;
}

header {
	background: blue;
	border-bottom: 1px solid black;
	width: 100%;
}

.nav-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.nav-menu li{
	flex: 0 1 auto;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	position: relative;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: lightblue;
	transition: all linear .5s;
}

.nav-menu > li:first-child {
	border-top-left-radius: 5px;
	border-left: 0;
}

.nav-menu > li:last-child {
	border-top-right-radius: 5px;
	border-right: 0;
}

.nav-menu > li > a {
	color: #ddd;
	display: flex;
	text-align: center;
	font-size: 1.55rem;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 1rem 1.5rem;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	transition: all linear .5s;
}

.nav-menu a {
	text-decoration: none;
	color: black;
}

.nav-menu > li a + div {
	display: none;
	position: absolute;
	font-size: 1.2rem;
}

.nav-menu > li:hover a + div {
	display: block;
}

.submenu {
	list-style-type: none;	
}

.submenu > li {
	margin: 0;
	padding: 0;
	border: 0;
	background: lightblue;
}

.submenu > li > a {
	display: block;
	text-decoration: none;
	font-size: .9rem;
	letter-spacing: .02rem;
	text-align: left;
	padding: .25rem 1rem;
}

.submenu > li:last-child  {
	display:block;
	width: inherit;
	border-radius: 0 0 5px 5px;
	
}

.nav-menu li:hover {
	background: tomato;
}

.nav-menu li:hover a {
	color: black;
}

.brand {
	background-color: tomato;
	margin-left: auto;
}


main div {
	margin: 10px;
	font-size: 3em;
}


@media screen and (min-width: 600px) {
	
	.brand {
		margin-right: auto;
	}
	.nav-menu {
		flex-direction: row;
	}
}


//////

/*GENERIC STYLES*/


		
header > nav > ul > li > a > div > span {
	color: rgba(255,255,255,.75);
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: .7rem;	
	font-style: italic;
	line-height: 1rem;
	max-width: 260px;
}

@media (min-width: 990px) {
  header > nav > ul > li > a {
    max-width: 500px;
    font-size: 1.7rem;
	line-height: 2rem;
  }
  
  header > nav > ul > li > a > div > span {
	  margin: 4px 0 0;  
  }
}