//

$dark: #222;

$border: 2px solid $dark;
$thin-border: 1px solid $dark;
$border-radius: 10px;


@mixin fullbg {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
}

@mixin border {
  border-radius: $border-radius;
  border: $border;
}

@mixin border-thin {
  border-radius: $border-radius;
  border: $thin-border;
}

@mixin box-shadow {
  box-shadow: 5px 5px 5px #888;
}

@mixin box-shadow-alt {
  box-shadow: 5px 5px 5px #333;
}
@mixin box-shadow-alt-2 {
  box-shadow: 5px 5px 5px #111;
}
