//  STYLING FOR THE EXPLANATION ELEMENT THAT EXPANDS WHEN CLICKED ON
//  PAGES IN USE:
//  HOME
//  BASIC GUIDES:

.explanation {
	@include white-gradient;
	@include border;
	display: none;
	flex-direction: column;
	margin: 0 auto;
	margin-bottom: .5em;
	max-width: 90%;
	padding: .5em 1em;
	p {padding: .5em 0;}
}

.discussion {
	margin-top: 1em;
}
