//		FOOTER STYLINGS		//

.article-footer {
	@include flex-col;
  flex:1;
	.footer-container{
		@include content-center;
		background: $blue-bg;
		display:flex;
		flex: 1;
		a {
			color:$dark;
			text-decoration:none;
			@include transition;
			&:hover {color:$light;}
		}
		i {display:none;}
		h4 {order:-1;}
	}
}

footer {
	align-items: center;
	@include dark-gradient;
	display: flex;
  flex: 1;
  justify-content: flex-end;
	a {
		color:$white;
		padding: .5em;
		@include transition;
		&:hover {color:$blue-light;}
	}
	div {
		align-items:center;
		display:flex;
	}
	span {
		color: $white;
		font-weight: 400;
		padding: 0 1em 0 2em;
		a {
			color: $white;
			font-weight:700;
			padding: 0 .2em;
			text-decoration: none;
		}
	}
}

@media screen and (min-width: 700px) {
	.article-footer {
    flex-direction:row;
		.footer-container{
			padding: 1em;
			a {padding: 0 .5em;}
			h4 {order:0;}
			i{display:block;}
		}
	}
	footer span {padding-right: 25vh;}
}
