//  INTRODUCTION STYLINGS USED ON EVERY PAGE

.introduction {
	@include flex-col;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-items:center;
	h3 {margin-top: .5em;}
	ul {
		@include flex-col;
		flex-wrap: wrap;
		list-style-type: disc;
		margin-left: 2em;
		padding: .5em 0;
		li {padding:.25em 0;}
	}
	a {	margin: 0 auto;}
	img {
		@include border-thin;
		max-width: 1000px;
		width:100%;
		@include box-shadow;
	}
}

@media screen and (min-width: 1000px) {
	.introduction p {max-width: 70%;}
	.introduction .explanation p {max-width: 100%;}
}
