//	STYLES FOR ITEM OPTIMIZATION	//

.item-container {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	background: $fade-bg;
	border: $border;
	border-radius: $border-radius;
	@include box-shadow;
	ul {
		display:flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: .5em 0;
		li {
			font-weight: 700;
			font-size: .9em;
			display:flex;
			text-align: center;
			flex-direction: column;
			padding: .5em 1em;
			a {
				padding: .5em;
			}
			img {
				border-radius: $border-radius;
				border: $thin-border;
				max-width: 64px;
				margin: 0 auto;
				@include box-shadow;
			}
		}
	}
}


.item-exp {
	display:flex;
  flex-direction: column;
	max-width: 60%;
  flex:1;
	background: $fade-bg;
	border: $border;
	border-radius: $border-radius;
	margin-bottom:1em;
	padding: 1em 3em;
	img {
		margin: 0 auto;
		border: $border;
		border-radius: $border-radius;
	}
	p {font-size:.95em;}
	.explain-list {
		list-style: disc;
		display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-between;
		li {
			padding: .25em 0;
			font-size:.9em;
		}
	}
}

.final-stats {
	ul {
		li {
			img {
				@include border;
			}
		}
		li.item-box {
			text-align:center;
			h5 {justify-content: center;}
			img {margin: 0 .3em; @include box-shadow;}
		}
		ul {
			list-style-type: disc;
			margin-left: 4em;
		}
	}
	div {
		display:flex;
		flex-direction:row;
		justify-content:center;
		p {flex:1;}
		p:first-of-type {
			font-weight: 700;
		}
		p:nth-of-type(2) {
			margin: 0 1em;
		}
	}
	.sub-list {
		text-align:center;
		span {margin-right: 1em;}
	}
}

.item-cont-alt {
	background: darken($time-bomb-blue-bg, 20%);
	color:white;
	ul li img {
		@include box-shadow-alt;
	}
}

ul.short-list {
	padding:0;
	li {
		padding:0;
	}
}

.avoid {
	background: lighten($red, 5%);
	padding: 1em 0;
	border:none;
	.item-list{
		text-align:left;
		padding: 0 2em;
		> li {
			margin:0 auto;
		}
		ul {
			display:flex;
      flex:1;
      justify-content:space-between;
      align-items:flex-start;
			list-style: disc;
		}
			li {
				display:flex;
				text-align:left;
				align-items:center;
				padding: .25em 0;
				font-weight: 400;
				a img {
					@include box-shadow-alt;
				}
			}
		}
	p {
    align-self:center;
		text-align:center;
		font-weight: 400;
		padding: 0;
		max-width: 90%;
			&:last-child {
				padding-bottom: 1em;
			}
		}
}

.special-item {
	background:$dark; color:#ddd;
	span{color:#fff;}
}
