//	STYLES FOR ITEM OPTIMIZATION	//

.item-container {
	align-items:center;
	@include white-gradient;
	border: $border;
	border-radius: $border-radius;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:flex-start;
	@include box-shadow;
	ul {
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: .5em 0;
		li {
			display:flex;
			flex-direction: column;
			font-weight: 700;
			font-size: .9em;
			padding: .5em 1em;
			text-align: center;
			a {padding: .5em;}
			img {
				max-width: 64px;
				margin: 0 auto;
				@include border-thin;
				@include box-shadow;
			}
			p {
				display: flex;
				align-items: center;
				height: 100%;
				font-weight: 700;
			}
		}
	}
}


.item-exp {
	background: $fade-bg;
	display:flex;
	flex:1;
  flex-direction: column;
	margin-bottom:1em;
	max-width: 60%;
	padding: 1em 3em;
	@include border;
	img {
		@include border;
		margin: 0 auto;
	}
	p {font-size:.95em;}
	.explain-list {
		display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-between;.
		list-style: disc;
		li {
			font-size:.9em;
			padding: .25em 0;
		}
	}
}

.stats-box {
	width: 100%;
	background:$fade-bg;
	margin-bottom: 2em;
	@include border-shadow;
	div {
		display:flex;
		align-items: center;
		justify-content: space-around;
		flex:1;
		margin: .5em 0;
		p {
			flex:1;
			justify-content: center;
			padding: 0;
			text-align:center;
		}
	}
	div:nth-of-type(1) {
		p {font-weight: 700;}
	}
}

.final-stats {
	ul {
		li.item-box {
			text-align:center;
			h5 {justify-content: center;}
			img {margin: 0 .3em; @include border; @include box-shadow;}
		}
	}
	div {
		display:flex;
		flex-direction:row;
		justify-content:center;
		p {flex:1;}
		p:first-of-type {font-weight: 700;}
		p:nth-of-type(2) {margin: 0 1em;}
	}
	.sub-list {
		text-align:center;
		span {margin-right: 1em;}
	}
}

.item-cont-alt {
	@include blue-dark-gradient;
	ul li img {@include box-shadow-alt;}
}

.lcs-container {
	background: #fceabb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #f8b500 , #fceabb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #f8b500 , #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	//background: opacify($yellow-bg, .15);
	ul li img {@include box-shadow-alt;}
}

ul.short-list {
	padding:0;
	li {padding:0;}
}

.avoid-items {
	display:flex;
	flex-direction: column;
	padding: .5em 2em;
	div{
		padding-bottom: 1em;
		a {
			justify-content: center;
			display:flex;
		}
		img {
			@include border-shadow;
		}
	}
}

.avoid {
	background: lighten($red, 15%);
}

.special-item {
	background:$dark; color:#ddd;
	span{color:#fff;}
}


@media screen and (min-width: 1000px) {
	.stats-box {
		width: 75%;
	}
}
