//	STYLES FOR ITEM OPTIMIZATION	//

.item-container {
	align-items:center;
	background: $fade-bg;
	border: $border;
	border-radius: $border-radius;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:flex-start;
	@include box-shadow;
	ul {
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: .5em 0;
		li {
			display:flex;
			flex-direction: column;
			font-weight: 700;
			font-size: .9em;
			padding: .5em 1em;
			text-align: center;
			a {padding: .5em;}
			img {
				max-width: 64px;
				margin: 0 auto;
				@include border-thin;
				@include box-shadow;
			}
		}
	}
}


.item-exp {
	background: $fade-bg;
	display:flex;
	flex:1;
  flex-direction: column;
	margin-bottom:1em;
	max-width: 60%;
	padding: 1em 3em;
	@include border;
	img {
		@include border;
		margin: 0 auto;
	}
	p {font-size:.95em;}
	.explain-list {
		display:flex;
    flex:1;
    flex-direction:column;
    justify-content:space-between;.
		list-style: disc;
		li {
			font-size:.9em;
			padding: .25em 0;
		}
	}
}

.final-stats {
	ul {
		li.item-box {
			text-align:center;
			h5 {justify-content: center;}
			img {margin: 0 .3em; @include border; @include box-shadow;}
		}
	}
	div {
		display:flex;
		flex-direction:row;
		justify-content:center;
		p {flex:1;}
		p:first-of-type {font-weight: 700;}
		p:nth-of-type(2) {margin: 0 1em;}
	}
	.sub-list {
		text-align:center;
		span {margin-right: 1em;}
	}
}

.item-cont-alt {
	background: darken($time-bomb-blue-bg, 20%);
	color:$white;
	ul li img {@include box-shadow-alt;}
}

ul.short-list {
	padding:0;
	li {padding:0;}
}

.avoid {
	background: lighten($red, 5%);
	border:none;
	padding: 1em 0;
	.item-list{
		padding: 0 2em;
		text-align:left;
		> li {
			margin:0 auto;
		}
		ul {
			align-items:flex-start;
			display:flex;
      flex:1;
      justify-content:space-between;
			list-style: disc;
		}
			li {
				align-items:center;
				display:flex;
				font-weight: 400;
				padding: .25em 0;
				text-align:left;
				a img {@include box-shadow-alt;}
			}
		}
	p {
    align-self:center;
		font-weight: 400;
		max-width: 90%;
		padding: 0;
		text-align:center;
			&:last-child {padding-bottom: 1em;}
		}
}

.special-item {
	background:$dark; color:#ddd;
	span{color:#fff;}
}
