//	STYLES FOR MASTERY BREAKDOWN	//

.mastery-image {
	display:flex;
	justify-content: center;
	align-items: center;
	margin: .75em 0;
	img {
		max-width: 100%;
		@include border;
  	@include box-shadow;
	}
}

.mastery-container {
  border: $border;
	border-radius: $border-radius;
	display: flex;
  flex-direction: column;
	padding: 1em;
	@include box-shadow;
  ul {
  	display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
    li {
			border: $border;
			border-radius: $border-radius;
			display:flex;
      flex-direction:column;
      justify-content: center;
      align-items:center;
			text-align:center;
			background: $green-bg;
			@include box-shadow-alt-2;
			* {padding-bottom: .5em;}
			p {padding: .5em;}
			img {
				padding-bottom:0;
				margin-bottom: .5em;
			}
		}
		.unused {
			background: #bbb;
			color: #555;
		}
	}
	ul:nth-of-type(even){
		li img {
			border-radius: 10px;
			border: 1px solid $dark;
			max-width: 64px;
		}
	}
}

@media screen and (min-width: 765px) {
	.mastery-container {
		ul {flex-direction:row;
			li {width: 40%;}
		}
		button {box-shadow: none;}
	}
}

@media screen and (min-width: 1000px) {
	.three-tree .explanation {max-width:100%;}
}
