//	STYLES FOR MASTERY BREAKDOWN	//

.mastery-image {
	align-items: center;
	display:flex;
	justify-content: center;
	margin: .75em 0;
	img {
		max-width: 100%;
		@include border;
  	@include box-shadow;
	}
}

.mastery-profile {
	img {
		max-width: 1000px;
		width: 100%;
		@include border-thin;
		@include box-shadow;
	}
}

.mastery-container {
	display: flex;
  flex-direction: column;
	padding: 1em;
	@include border;
	@include box-shadow;
  ul {
		align-items:stretch;
  	display: flex;
    flex-direction:column;
    justify-content:space-around;
    li {
			align-items:center;
			background: $green;
			border: $border;
			border-radius: $border-radius;
			display:flex;
      flex-direction:column;
      justify-content: center;
			text-align:center;
			@include box-shadow-alt-2;
			* {padding-bottom: .5em;}
			p {padding: .5em;}
			img {
				margin-bottom: .5em;
				padding-bottom:0;
			}
		}
		.unused {
			background: #bbb;
			color: #444;
		}
	}
}

//  BG IMG FOR MASTERY PAGE //

.ferocity {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #e74c3c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #e74c3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cunning {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.resolve {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #093028); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (min-width: 765px) {
	.mastery-container {
		ul {flex-direction:row;
			li {width: 40%;}
		}
		button {box-shadow: none;}
	}
}

@media screen and (min-width: 1000px) {
	.three-tree .explanation {max-width:100%;}
}
