//	STYLES FOR LANING MATCHUPS	//

.tier-box {
	@include flex-col;
	align-items: center;
	margin-bottom: 1em;
	padding: 0 1em;
	width: 75%;
	@include border;
	@include box-shadow;
	img {
		margin: .3em;
		max-height: 64px;
		max-width: 64px;
		@include box-shadow-alt;
		border-radius: 10px;
	}
	.stars img {
		box-shadow: none;
		flex-basis: 25px;
		max-height: 35px;
		max-width: 35px;
	}
	div {text-align:center;}
}

.tier-1 {@include blue-light-lighten-gradient;}
.tier-2 {@include yellow-gradient;}
.tier-3 {@include red-dark-gradient;}

.support-difficulty-container {
	@include border-shadow;
	margin-top: 1em;
	justify-content: center;
	@include flex-col;
	padding: 1em;
	.champion-section {flex:1}
	.strategy-section{flex:3}
	.champion-section, .strategy-section{
		@include flex-col;
		align-items: center;
	p {text-align: center;}
	p, li {color: $dark;}
	img {
		@include border-shadow-dark;
	}
	.difficulty {
		padding-top: 1em;
		ul {
			display:flex;
			justify-content: center;
		}
			li.star {
				content: url('/img/etc/star.svg');
				height:50px;
				width:50px;
			}
		}
	}
}

.diff-1{@include blue-light-lighten-gradient;}
.diff-2{@include green-gradient;}
.diff-3{@include yellow-gradient;}
.diff-4{@include orange-gradient;}
.diff-5{@include red-dark-gradient;}

.sort-order-box {
	display:flex;
	align-items: center;
	button {margin: 0 .5em;}
	.sort-order:after {
		font-family: "FontAwesome";
		font-size: 1.5em;
		content: '\f0de';   // BLACK UP-POINTING TRIANGLE.
	}
	.sort-order.reverse:after {
		content: '\f0dd';   // BLACK DOWN-POINTING TRIANGLE
	}
}




@media screen and (min-width: 765px) {
	.support-difficulty-container {
		flex-direction:row;
	}
}
