
//	STYLES FOR MOVEMENTSPEED ARTICLE	//

ul.faq {
	border-radius: $border-radius;
	border: $border;
	margin-left: 0;
	overflow:hidden;
	padding:0;
	@include box-shadow;
	li {
		padding: .5em 1em;
		&:nth-of-type(odd) {
			@include time-warp-gradient;
			color:$white;
			font-size: 1.05em;
			font-weight: 700;
			padding: 1em 3em;
		}
		&:nth-of-type(even) {
			@include white-gradient;
			padding-bottom: 3em;
		}
	}
}

.ms-list {
	border: $border;
	border-radius:$border-radius;
	overflow:hidden;
	@include box-shadow;
	li {
		color:$white;
		display:flex;
		flex-direction: row;
		font-size: .85em;
		font-weight: 700;
		justify-content:space-between;
		padding: .25em .5em;
		&:nth-of-type(odd) {@include time-bomb-gradient;}
		&:nth-of-type(even) {@include time-warp-gradient;}
		&.thead {
			background: $white;
			color:$dark;
			span {padding-left: 0;padding-right:0;}
		}
	}
	span {
		color:$red;
		margin-left: auto;
		padding-left: .5em;
		padding-right: 1.5em;
	}
}

.range-block {
	display:flex;
	flex-direction:column;
	width: 100%;
}

.slider-block {
	display:flex;
	flex-direction:column;
	width: 100%;
	div {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content: space-around;
		text-align:center;
		p {
			border:$border;
			border-radius:$border-radius;
			font-weight: 700;
			margin: .5em 0;
			padding: 1em;
		}
		&.speedup p{
			color: $white;
			@include box-shadow;
			&:nth-of-type(1){background:lighten($time-warp-blue, 35%);}
			&:nth-of-type(2){background:lighten($time-warp-blue, 27%);}
			&:nth-of-type(3){background:lighten($time-warp-blue, 20%);}
			&:nth-of-type(4){background:lighten($time-warp-blue, 10%);}
			&:nth-of-type(5){background: $time-warp-blue;}
		}
		&.slowdown p{
			color: black;
			@include box-shadow;
			&:nth-of-type(1){background: $yellow;}
			&:nth-of-type(2){background: darken($yellow, 10%);}
			&:nth-of-type(3){background: darken($yellow, 20%); color: #111}
			&:nth-of-type(4){background: darken($yellow, 27%); color: #ccc;}
			&:nth-of-type(5){background: darken($yellow, 35%); color: #eee;}
		}
		&.swifties p{
			color: black;
			@include box-shadow;
			&:nth-of-type(1){background: #ddd;}
			&:nth-of-type(2){background: #aaa;}
			&:nth-of-type(3){background: #666; color:#eee;}
			&:nth-of-type(4){background: #444; color:white;}
			&:nth-of-type(5){background: #222; color:white;}
		}
	}
}
