
//	STYLES FOR PATCH EVOLUTION	//

.patch-container {
	li {
		@include flex-col;
		p:first-of-type {
			font-weight: 700;
			text-align:center;
			}
		div {margin:0 auto;}
		img {
			height: 64px; width: 64px;
			margin:0 auto;
			@include border-thin;
			@include box-shadow;
		}
		&.mastery-icon-circle img {
			height: 86px; width: 86px;
			margin:0 auto;
			border-radius: 50%;
			border:none;
		}
	}
}

.nerf{color:$red;}
.buff{color:darken($green, 43%);}
.neutral{color:#777;}
