//	STYLES FOR Q vs E DEBATE	//

.pros-and-cons .time-bomb, .pros-and-cons .time-warp {
	color:white;
	border:none;
	@include box-shadow;
}

.pros-and-cons .time-bomb {background: $time-bomb-blue-bg;}
.pros-and-cons .time-warp {background: $time-warp-blue-bg;}


.debate-winner {
	display:flex;
	flex-direction:column;
	border: $border;
	border-radius: $border-radius;
	max-width: 70%;
	justify-content:center;
	padding: 1em;
	margin-top: 1em;
	background:  $fade-bg;
}
