//	STYLES FOR Q vs E DEBATE	//

.pros-and-cons img {
	margin: 0 auto;
	max-height:64px; max-width: 64px;
	@include border-thin;
}

.pros-and-cons {
	.time-bomb, .time-warp {
		border:none;
		color:$white;
		@include box-shadow;
	}
	.time-bomb {@include time-bomb-gradient;}
	.time-warp {@include time-warp-gradient;}
}

.debate-winner {
	@include white-gradient;
	@include border;
	@include flex-col;
	justify-content:center;
	margin-top: 1em;
	max-width: 70%;
	padding: 1em;
}
