//	STYLES FOR Q vs E DEBATE	//

.pros-and-cons img {
	margin: 0 auto;
	max-height:64px; max-width: 64px; 
	@include border-thin;
}

.pros-and-cons {
	.time-bomb, .time-warp {
		border:none;
		color:$white;
		@include box-shadow;
	}
	.time-bomb {background: $time-bomb-blue-bg;}
	.time-warp {background: $time-warp-blue-bg;}
}

.debate-winner {
	background:  $fade-bg;
	border: $border;
	border-radius: $border-radius;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-top: 1em;
	max-width: 70%;
	padding: 1em;
}
