//	STYLES FOR RUNES LIST ON HOME PAGE AND RUNES 101 PAGE	//

.runes-list {
	display:flex;
	justify-content: center;
	width:100%;
	flex:1;
	@include box-shadow;
	&.rune-top {
		font-size: 16px;
		li:first-child{border-top-left-radius: $border-radius;  @include box-shadow;}
		li:last-child{border-top-right-radius: $border-radius;  @include box-shadow;}
	}
	&.rune-bottom {
		li:first-child{border-bottom-left-radius: $border-radius; @include box-shadow;}
		li:last-child{border-bottom-right-radius: $border-radius;  @include box-shadow;}
	}
	li {
		border:1px solid black;
		padding: .5em 0;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex: 1;
		img {padding-bottom: .5em;}
		&:last-of-type{color:white;}
	}
}

.rune-page-block {
	a {text-decoration: none;}
	h5{justify-content: center; color:black; transition: all .5s;
		&:hover {color:#aaa;}
	}
}

.rune-page-block a img {
	@include box-shadow;
	@include border-thin;
}

.rune-container {
	display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  flex:1;
	ul {
		border-radius: $border-radius;
		display:flex;
    justify-content: space-around;
		padding: .5em;
    flex-wrap:wrap;
    flex:1;
		@include box-shadow;
		li {
			min-width: 200px;
			display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
			padding: .5em 1rem;
			font-size:.9em;
			img {max-width: 46px;}
		}
	}
}

@media screen and (min-width: 765px) {
	.runes-list.top {font-size: 21px;}
	.rune-page-block {
		display:flex;
		flex-direction:row;
		a {
			padding: 0 2.5%;
		}
	}
}
