//	STYLES FOR RUNES LIST ON HOME PAGE AND RUNES 101 PAGE	//

.runes-list {
	display:flex;
	flex:1;
	justify-content: center;
	width:100%;
	@include box-shadow;
	&.rune-top {
		font-size: 16px;
		margin-top: .5em;
		li:first-child{border-top-left-radius: $border-radius;  @include box-shadow;}
		li:last-child{border-top-right-radius: $border-radius;  @include box-shadow;}
	}
	&.rune-bottom {
		li:first-child{border-bottom-left-radius: $border-radius; @include box-shadow;}
		li:last-child{border-bottom-right-radius: $border-radius;  @include box-shadow;}
	}
	li {
		border:1px solid black;
		display:flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		padding: .5em 0;
		text-align: center;
		img {
			max-width: 46px; max-height: 46px;
			margin: 0 auto;
			padding-bottom: .5em;
		}
		&:last-of-type{color:$white;}
	}
}

.rune-page-block {
	a {
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			@include box-shadow;
			@include border-thin;
			max-width: 75%;
		}
	}
	h5{justify-content: center; color:black; @include transition;
		&:hover {color:$yellow;}
	}
}

.runes-pro-and-con {
	display: flex;

}

.rune-container {
	align-items:center;
	display:flex;
	flex:1;
  flex-direction:column;
  justify-content:space-around;
	ul {
		border-radius: $border-radius;
		display:flex;
		flex:1;
		flex-wrap:wrap;
    justify-content: space-around;
		padding: .5em;
		@include box-shadow;
		li {
			align-items:center;
			display:flex;
      flex-direction:column;
			font-size:.9em;
      justify-content:center;
      min-width: 200px;
			padding: .5em 1rem;
			img {max-width: 46px;}
		}
	}
}

@media screen and (min-width: 765px) {
	.runes-list.top {font-size: 21px;}
	.rune-page-block {
		display:flex;
		flex-direction:row;
		a {
			padding: 0 2.5%;
		}
	}
}
