//	STYLES FOR RUNES LIST ON HOME PAGE AND RUNES 101 PAGE	//

.runes-list {
	display:flex;
	flex:1;
	justify-content: center;
	width:100%;
	@include box-shadow;
	&.rune-top {
		font-size: 16px;
		margin-top: .5em;
		li:first-child{border-top-left-radius: $border-radius;  @include box-shadow;}
		li:last-child{border-top-right-radius: $border-radius;  @include box-shadow;}
	}
	&.rune-bottom {
		li:first-child{border-bottom-left-radius: $border-radius; @include box-shadow;}
		li:last-child{border-bottom-right-radius: $border-radius;  @include box-shadow;}
	}
	li {
		border:1px solid black;
		@include flex-col;
		flex: 1;
		justify-content: center;
		padding: .5em 0;
		text-align: center;
		img {
			margin: 0 auto;
			padding-bottom: .5em;
		}
		&:last-of-type{color:$white;}
	}
}

.rune-page-block {
	a {
		text-decoration: none;
		display: flex;
		@include content-center;
		img {
			@include box-shadow;
			@include border-thin;
			max-width: 75%;
		}
	}
	h5{justify-content: center; color:black; @include transition;
		&:hover {color:$yellow;}
	}
}

.runes-pro-and-con {
	display: flex;

}

.rune-container {
	@include flex-col;
	flex:1;
  align-items:center;
  justify-content:space-around;
	ul {
		border-radius: $border-radius;
		display:flex;
		flex:1;
		flex-wrap:wrap;
    justify-content: space-around;
		padding: .5em;
		@include box-shadow;
		li {
			@include flex-col;
      @include content-center;
			font-size:.9em;
      min-width: 200px;
			padding: .5em 1rem;
		}
	}
}

// BACKGROUND COLORS //


.red-runes {@include red-gradient;}
.red-runes-light {@include red-lighten-gradient;}

.yellow-runes {@include yellow-gradient;}
.yellow-runes-light {@include yellow-lighten-gradient;}

.blue-runes {@include blue-light-gradient;} //
.blue-runes-light {@include blue-light-lighten-gradient;}

.purple-runes {@include purple-gradient;}
.purple-runes-light {@include purple-lighten-gradient;}

// FOR RUNES PAGE -> INDIVIDUAL RUNE DISCUSSION //

.red-rune-page > ul {@include red-gradient;}
.yellow-rune-page > ul { @include yellow-gradient;}
.blue-rune-page >  ul { @include blue-light-gradient;}
.purple-rune-page >  ul { @include purple-gradient; color:white;}

@media screen and (min-width: 765px) {
	.runes-list.top {font-size: 21px;}
	.rune-page-block {
		@include flex-row;
		a {
			padding: 0 2.5%;
		}
	}
}
