//	STYLES FOR SKILLS, SPELLS, COMBOS AND TRICKS	//

.skill-container{
	display:flex;
	flex: 1;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-around;
	margin: .5em 0;
	img {
		max-width: 64px;
		@include border-thin;
		@include box-shadow;
	}
}

.spell-combo {
	align-content:center;
	display:flex;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-around;
	margin: .5em 0;
	max-width: 90%;
	img {
		margin: 0 .2em;
		max-width: 64px;	max-height: 64px;
		@include border-thin;
		@include box-shadow;
	}
	div {
		align-items:center;
		display:flex;
	  justify-content:center;
		padding: 0 1em;
	}
}

.skill-column {
	align-items: center;
	display:flex;
  flex-direction: column;
  justify-content: center;
	p {
		padding: .3em 0;
		font-size:.7em;
	}
	.spell-description {
		display:flex;
    flex-direction:column;
		margin: .5em 0;
		padding: .5em 2em;
		background: $fade-bg;
		@include border;
		p{font-size:21px;}
	}
}

// IMAGE RESIZE FOR TRIPLE BOMB TUTORIAL //

.res-image {
	img {
		width: 100%;
		@include border;
		@include box-shadow;
	}
}

@media screen and (min-width: 1000px) {
	.spell-combo{max-width: 60%;}
}
