//	STYLES FOR SKILLS, SPELLS, COMBOS AND TRICKS	//

.skill-container{
	@include flex-row;
	flex: 1;
	flex-wrap: wrap;
  justify-content: space-around;
	margin: .5em 0;
	img {
		max-width: 64px;
		@include border-thin;
		@include box-shadow;
	}
	h4, h5 {width: 100%;}
}

.skill-table {
	width: 95%;
	@include border-shadow;
	@include white-gradient;
	overflow:hidden;
	table {
		width: 100%;
		text-align:center;
		overflow:hidden;
		tr {background: $light;}
		tr:nth-of-type(odd){background: $fade-bg;}
		tr:nth-of-type(1){background: $time-warp-blue-bg;}
		th { color: $white; font-weight: 700;}
		td {font-size: .95em;}
		th, td {
			border: 1px solid $dark;
			text-align: center;
		}
	}
}

.spell-combo {
  flex-direction: row;
	align-content:center;
  justify-content: space-around;
	margin: .5em 0;
	max-width: 90%;
	img {
		margin: 0 .2em;
		max-width: 64px;	max-height: 64px;
		@include border-thin;
		@include box-shadow;
	}
	div {
		display:flex;
	  @include content-center;
		padding: 0 1em;
	}
}

.spell-row {
	@include flex-row;
	flex-wrap: wrap;
	img {
		width: 100%;
		max-width: 450px;
		@include border-shadow;
	}
}

.skill-column {
	@include flex-col;
	@include content-center;
	p {
		padding: .3em 0;
		font-size:.7em;
	}
	.spell-description {
		@include flex-col;
		margin: .5em 0;
		padding: .5em 2em;
		background: $fade-bg;
		@include border;
		p{font-size:21px;}
	}
}

// IMAGE RESIZE FOR TRIPLE BOMB TUTORIAL //

.res-image {
	img {
		width: 100%;
		@include border-shadow;
	}
}

@media screen and (min-width: 700px) {
	.half-row {max-width: 45%;}
	.skill-table {
		width: 75%;
	}
}

@media screen and (min-width: 1000px) {
	.spell-combo{max-width: 60%;}
}
